@use '../../styles/mixins.scss' as *;


.textWrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 50%;

    
    h2 {
        font-size: clamp(1.8rem, 5vw, 5.5rem);    
        color: white;
    }

    p {
        color: rgba(255, 255, 255, 0.774);
        font-size: clamp(1.2rem, 5vw, 1.8rem);    
        margin-top: 5rem;
        //width: 80%;
        
    }

    &:nth-child(2) {
        text-align: right;
    }

    @include responsive('lg') {
        width: 70%;
    }
}
