@use '../styles/mixins.scss' as *;


/////////////////////////// UTILS


.sectionWrapper {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include responsive('lg') {
        flex-direction: column;
    }

}

.section {
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-of-type {
        margin-bottom: 10rem;
    }
}


////////////////////////////////////////





.header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))), url('/images/background.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    animation: backgroundAnimation 10s forwards;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes backgroundAnimation {
    from {
        background-size: 150%;
    }
    to {
        background-size: 200%;
    }
}

.hero,
.description {
    text-shadow: black 5px 10px 20px;
    padding: 1rem;
}

.hero {
    letter-spacing: .5rem;
    animation: heroAnimation 10s forwards;
}

.description {
    letter-spacing: .2rem;
    animation: describeAnimation 10s forwards;
}

@keyframes heroAnimation {
    from {
        font-size: clamp(calc(var(--hero-size) - 7rem), 5vw, calc(var(--hero-size) - 5rem));
    }

    to {
        font-size: clamp(calc(var(--hero-size) - 7.3rem), 5vw, var(--hero-size));
    }
}

@keyframes describeAnimation {
    from {
        font-size: clamp(calc(var(--describe-size) - 9rem), 3.5vw, calc(var(--describe-size) - 7rem));
    }

    to {
        font-size: clamp(calc(var(--describe-size) - 6.5rem), 4vw, var(--describe-size));
    }
}





//////////////////////////// COLECTTION SECTION

.collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;

    @include responsive('lg') {
        height: auto;
    }
    
}

.swiperWrapper {
    display: flex;
    width: 100%;
}

.swiper {
    cursor: grab;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    @include responsive('lg') {
        display: none;
    }
}

.collectionSmallDevice {
    display: none;


    @include responsive('lg') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.sneakPeaks {
    color: white;
    font-size: clamp(2rem, 5vw, 5rem);
    margin: 6rem 0 ;
}


.reverse {
    @include responsive('lg') {
        flex-direction: column-reverse;
    }
}


//////////////////////////////////// FOOTER

.footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))), url('/images/background2.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/images/background2.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;

    @include responsive('lg') {
        margin-top: 30rem;
    }

    @include responsive('md') {
        margin-top: 35rem;
    }
}

.join {
    color: white;
    font-size: clamp(calc(var(--hero-size) - 8rem), 5vw, var(--hero-size));
    letter-spacing: .5rem;
}


.textFooter {
    font-size: 2rem;
    color: white;
    margin-bottom: 4%;

    @include responsive('md') {
        font-size: 1rem;
    }
}

.waves {
    position: absolute;
    bottom: 0;
    opacity: 0.5;

}

