@use "./reset";
@use "./variables";


body {
   // background-color: rgba(3, 0, 19, 1);
    overflow-x: hidden;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #010e23, #01102f, #041139, #100f42, #210849);
}


* {
    &::selection {
        background-color: var(--base-1);
    }
}