

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
  );
   
  @mixin responsive($breakpoint) {
      @if map-has-key($breakpoints, $breakpoint) {
          $breakpoint-value: map-get($breakpoints, $breakpoint);
          
          @media (max-width: $breakpoint-value) {
              @content;
          }
      } @else {
          @error 'Invalid breakpoint #{$breakpoint}';
      }
  }